@import b4._

@(form: Form[models.SearchData], getUrl: Call, events: Seq[(Event, Organization)])(implicit request: play.api.mvc.RequestHeader, messagesProvider: MessagesProvider)

@main("Events") {

    <div class="container">
        <div class="row">
            <div id="events-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Events</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div id="filterEvent" class="col-md-6 searchLocation">
                        <div class="search-type-selection btn btn-secondary">
                            Advanced search...
                        </div>
                        @b4.vertical.formCSRF(getUrl) { implicit vfc =>

                            @b4.text( form("location"), '_label -> "City")
                            @b4.date( form("date"), '_label -> "Start date" )
                            @b4.date( form("endDate"), '_label -> "End date" )

                            @b4.submit('class -> "btn btn-success"){ Search }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="events" class="row">
            @if(events.isEmpty) {
            <h2>Nothing to display</h2>
            } else {
                @for(e <- events) {
                    <div class="event-thumbnail col-md-4">
                        <a class="wrapper" href="@routes.EventController.eventDetail(e._1.id.get)" title="@e._1.title" alt="Link to event la foire du bonbon">
                            <div class="thumbnail"></div>
                            <div class="content">
                                <h2>@e._1.title</h2>
                                <p class="description">@e._1.description </p>
                                <p class="date">@e._1.startDate</p>
                                <p class="organization">@e._2.name</p>
                                <p class="region">@e._1.region</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>

}
