@(form: Form[models.EventData], postUrl: Call, organizations: Seq[Organization], organization: Option[Organization])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Create an event") {
<div class="row">
    <div class="col">
        <h1>Create an event</h1>

        @* Display Global errors *@
        @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
        <div class="alert alert-danger" role="alert">
            @error.message
        </div>
        }
        }

        @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.input(form("organizationId"), '_label -> "Organization", '_showConstraints -> false) { (id, name, value, args) =>


        <select name="@name" id="@id">

            @if(!organization.isDefined)  {
            <option selected>Choose an organization</option>
            }

            @for(o <- organizations) {
                @if(organization.isDefined && o.id.get == organization.get.id.get)  {
                <option value="@o.id" selected>@o.name</option>
                } else {
                    @if(value.isDefined && value.get.matches("^\\d+$") && o.id.get == value.get.toLong) {
                    <option value="@o.id" selected>@o.name</option>
                    } else {
                    <option value="@o.id">@o.name</option>
                    }
                }
            }
        </select>
        }

        @helper.inputText(form("title"), '_label -> "Title", '_showConstraints -> false)

        @helper.textarea(form("description"), '_label -> "Description", '_showConstraints -> false)

        @helper.inputText(form("price"), '_label -> "Price", '_showConstraints -> false)

        @helper.inputText(form("address"), '_label -> "Address", '_showConstraints -> false)

        @helper.inputText(form("region"), '_label -> "Region", '_showConstraints -> false)

        @helper.inputDate(form("startDate"), '_label -> "Start date", '_showConstraints -> false)

        @helper.inputDate(form("endDate"), '_label -> "End date", '_showConstraints -> false)

        @helper.textarea(form("scheduleDescription"), '_label -> "Schedule description", '_showConstraints -> false)

        <button>Create</button>
        }
    </div>
</div>
}