@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(events: Seq[Event])(implicit request: play.api.mvc.RequestHeader)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Events") {

    <div class="container">
        <div class="row">
            <div id="events-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Events</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form class="searchLocation" method="GET" action="/events">
                            <div class="form-group">
                                <input type="text" name="city" class="form-control" id="searchLocation"  placeholder="Cherchez dans votre ville...">
                            </div>
                            <button type="submit" class="float-right btn btn-primary">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="events" class="row">

            @if(events.isEmpty) {
            <h2>Nothing to display</h2>
            } else {
                @for(e <- events) {
                    <div class="event-thumbnail col-md-4">
                        <a class="wrapper" href="#" title="@e.title" alt="Link to event la foire du bonbon">
                            <div class="thumbnail"></div>
                            <div class="content">
                                <h2>@e.title</h2>
                                <p class="description">@e.description </p>
                                <p class="date">@e.startDate</p>
                                <p class="organization">@e.organizationId</p>
                                <p class="region">@e.region</p>
                            </div>
                        </a>
                    </div>
                }
            }







        </div>
    </div>

}
