
@(event: (Event, Organization))(implicit request: play.api.mvc.RequestHeader)

@main(event._1.title) {

    <div id="event-detail" class="container">
        <div class="row">
            <div id="event-detail-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@event._1.title</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="@routes.EventController.eventEditPage(event._1.id.get)" class="btn btn-primary" tabindex="-1" role="button">Edit</a>
            </div>
        </div>

        <div class="row event-meta">
            <div class="col-md-3 col-sm-6">
                <div class="date">@event._1.startDate</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="organization">@event._2.name</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="region">@event._1.region</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="price">@if(event._1.price == 0) { Free } else { @event._1.price }</div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <p>
                    @event._1.description
                </p>
                <p>
                    @event._1.scheduleDescription
                </p>
            </div>
        </div>
    </div>

}
