@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()(implicit request: play.api.mvc.RequestHeader)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Events") {

    <div class="container">
        <div class="row">
            <div id="events-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Events</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form class="searchLocation" method="GET" action="/events">
                            <div class="form-group">
                                <input type="text" name="city" class="form-control" id="searchLocation"  placeholder="Cherchez dans votre ville...">
                            </div>
                            <button type="submit" class="float-right btn btn-primary">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="events" class="row">


            <div class="event-thumbnail col-md-4">
                <a class="wrapper" href="#" title="La foire du Bonbon" alt="Link to event la foire du bonbon">
                    <div class="thumbnail"></div>
                    <div class="content">
                        <h2>La foire du Bonbon</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh risus. Donec eros risus,
                            porttitor in massa ac, sagittis suscipit ante. Integer massa ante, finibus et venenatis quis,
                            vulputate a ligula. Fusce fringilla velit in pretium maximus. Fusce eget ligula nec massa molestie
                            sagittis vitae efficitur magna. </p>
                        <p class="date">Mer. 12 juillet 2018</p>
                        <p class="organization">Ville de Lausanne</p>
                        <p class="region">Lausanne</p>
                    </div>
                </a>
            </div>

            <div class="event-thumbnail col-md-4">
                <a class="wrapper" href="#" title="La foire du Bonbon" alt="Link to event la foire du bonbon">
                    <div class="thumbnail"></div>
                    <div class="content">
                        <h2>La foire du Bonbon</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh risus. Donec eros risus,
                            porttitor in massa ac, sagittis suscipit ante. Integer massa ante, finibus et venenatis quis,
                            vulputate a ligula. Fusce fringilla velit in pretium maximus. Fusce eget ligula nec massa molestie
                            sagittis vitae efficitur magna. </p>
                        <p class="date">Mer. 12 juillet 2018</p>
                        <p class="organization">Ville de Lausanne</p>
                        <p class="region">Lausanne</p>
                    </div>
                </a>
            </div>

            <div class="event-thumbnail col-md-4">
                <a class="wrapper" href="#" title="La foire du Bonbon" alt="Link to event la foire du bonbon">
                    <div class="thumbnail"></div>
                    <div class="content">
                        <h2>La foire du Bonbon</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh risus. Donec eros risus,
                            porttitor in massa ac, sagittis suscipit ante. Integer massa ante, finibus et venenatis quis,
                            vulputate a ligula. Fusce fringilla velit in pretium maximus. Fusce eget ligula nec massa molestie
                            sagittis vitae efficitur magna. </p>
                        <p class="date">Mer. 12 juillet 2018</p>
                        <p class="organization">Ville de Lausanne</p>
                        <p class="region">Lausanne</p>
                    </div>
                </a>
            </div>

            <div class="event-thumbnail col-md-4">
                <a class="wrapper" href="#" title="La foire du Bonbon" alt="Link to event la foire du bonbon">
                    <div class="thumbnail"></div>
                    <div class="content">
                        <h2>La foire du Bonbon</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh risus. Donec eros risus,
                            porttitor in massa ac, sagittis suscipit ante. Integer massa ante, finibus et venenatis quis,
                            vulputate a ligula. Fusce fringilla velit in pretium maximus. Fusce eget ligula nec massa molestie
                            sagittis vitae efficitur magna. </p>
                        <p class="date">Mer. 12 juillet 2018</p>
                        <p class="organization">Ville de Lausanne</p>
                        <p class="region">Lausanne</p>
                    </div>
                </a>
            </div>

            <div class="event-thumbnail col-md-4">
                <a class="wrapper" href="#" title="La foire du Bonbon" alt="Link to event la foire du bonbon">
                    <div class="thumbnail"></div>
                    <div class="content">
                        <h2>La foire du Bonbon</h2>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nibh risus. Donec eros risus,
                            porttitor in massa ac, sagittis suscipit ante. Integer massa ante, finibus et venenatis quis,
                            vulputate a ligula. Fusce fringilla velit in pretium maximus. Fusce eget ligula nec massa molestie
                            sagittis vitae efficitur magna. </p>
                        <p class="date">Mer. 12 juillet 2018</p>
                        <p class="organization">Ville de Lausanne</p>
                        <p class="region">Lausanne</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

}
