@(form: Form[models.EventData], postUrl: Call, organizations: Seq[(String, String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Create an event") {
<div class="row">
    <div class="col">
        <h1>Edit @form("title").value</h1>

        @* Display Global errors *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
            <div class="alert alert-danger" role="alert">
                @error.message
            </div>
            }
        }

        @b4.vertical.formCSRF(postUrl) { implicit vfc =>

            <input type="hidden" name="id" value='@form("id").value' >

            @b4.select( form("organizationId"), options = organizations, '_label -> "Choose an organization", '_default -> "Select an organization")
            @b4.text( form("title"), '_label -> "Title")
            @b4.textarea( form("description"), '_label -> "Description", 'rows -> 5 )
            @b4.text( form("price"), '_label -> "Price")
            @b4.text( form("address"), '_label -> "Address")
            @b4.text( form("region"), '_label -> "Region")
            @b4.date( form("startDate"), '_label -> "Start date" )
            @b4.date( form("endDate"), '_label -> "End date" )
            @b4.textarea( form("scheduleDescription"), '_label -> "Schedule description", 'rows -> 5 )

            @b4.submit('class -> "btn btn-success"){ Edit event }
        }
    </div>
</div>
}