@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()(implicit request: play.api.mvc.RequestHeader)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("L'Event en poupe !") {

    <div class="container">
        <div class="row">
            <div id="home-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Find events close to you !</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form class="searchLocation" method="GET" action="/events">
                            <div class="form-group">
                                <input type="text" name="city" class="form-control" id="searchLocation"  placeholder="Cherchez dans votre ville...">
                            </div>
                            <button type="submit" class="float-right btn btn-primary">Rechercher</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
