@import b4._

@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(form: Form[models.SearchData], getUrl: Call)(implicit request: play.api.mvc.RequestHeader, messagesProvider: MessagesProvider)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("L'Event en poupe !") {

    <div class="container">
        <div class="row">
            <div id="home-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Find events close to you !</h1>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div id="filterEvent" class="col-md-6 searchLocation">
                        <div class="search-type-selection btn btn-secondary">
                            Advanced search...
                        </div>
                        @b4.vertical.formCSRF(getUrl) { implicit vfc =>

                            @b4.text( form("location"), '_label -> "City")
                            @b4.date( form("date"), '_label -> "Start date" )
                            @b4.date( form("endDate"), '_label -> "End date" )

                            @b4.submit('class -> "btn btn-success"){ Search }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

}
