@(form: Form[models.DeleteInterestData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Interest") {

  <h1>Admin interest</h1>

  @* Display Global errors *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  @helper.form(postUrl) {

    @helper.CSRF.formField

    @helper.inputText(form("interestId"), '_label -> "Interest ID", '_showConstraints -> false)

    <button>Delete</button>
  }
}