@(form: Form[models.InterestData], postUrl: Call, themes:Seq[(String, String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Interest") {

    <h1>Add an interest</h1>

    @* Display Global errors *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @b4.vertical.formCSRF(postUrl) { implicit vfc =>
        @b4.select( form("themeId"), options = themes, '_label -> "Choose a theme", '_default -> "Select a theme")


        @b4.submit('class -> "btn btn-success"){ Create interest }
    }

}