@import b4._

@(form: Form[models.UserData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Join") {
    <div class="row">
        <div class="col">
            <h1>Join Project</h1>

            @b4.vertical.formCSRF(postUrl) { implicit vfc =>

                @b4.text( form("firstName"), '_label -> "First name")
                @b4.text( form("lastName"), '_label -> "Last name")
                @b4.email( form("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
                @b4.text( form("username"), '_label -> "Username")
                @b4.password( form("password"), '_label -> "Password", 'placeholder -> "Password", '_help -> "Use min 8 characters" )

                @b4.submit('class -> "btn btn-default"){ Sign up }
            }
        </div>
    </div>
}