@import b4._
@(form: Form[models.LoginData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Login") {
    <div class="row">
        <div class="col">
            <h1>Login</h1>

            @* Display Global errors *@
            @if(form.hasGlobalErrors) {
                @form.globalErrors.map { error: FormError =>
                    <div class="alert alert-danger" role="alert">
                        @error.message
                    </div>
                }
            }


            @b4.vertical.formCSRF(postUrl) { implicit vfc =>

                @b4.text( form("username"), '_label -> "Username")

                @b4.password( form("password"), '_label -> "Password", 'placeholder -> "Password", '_help -> "Use min 8 characters" )

                @b4.submit('class -> "btn btn-default"){ Sign in }

            }
        </div>
    </div>
}