@(organization: Organization, users : Seq[User], events: Seq[Event])(implicit request: play.api.mvc.RequestHeader)

@main(organization.name) {

    <div id="event-detail" class="container">
        <div class="row">
            <div id="event-detail-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@organization.name</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row event-meta">
            <div class="col-md-3 col-sm-6">
                <div class="organization">@organization.organizationType</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="region">@organization.address</div>
            </div>
        </div>

        <div id="Events" class="row">
            <div class="col-md-12 content">
                <h1>Events of organization</h1>
                <a class="btn btn-primary" href="@routes.EventController.eventNewPage(Option(organization.id.get))" role="button">Add an Event</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Region</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(event <- events) {
                            <tr id="row-user-@event.id" eventId="@event.id">
                                <td>@event.title</td>

                                <td>@event.region</td>

                                <td>@event.startDate</td>

                                <td>@event.endDate</td>

                                <td><a class="btn btn-secondary" role="button" href="@routes.EventController.eventDetail(event.id.get)">Show</a></td>
                                <td><a class="btn btn-secondary" role="button" href="@routes.EventController.eventEditPage(event.id.get)">Edit</a></td>
                                <td><a class="btn btn-danger" role="button" href="@routes.EventController.eventDelete(event.id.get)">Delete</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="Members" class="row">
            <div class="col-md-12 content">

                <h1>Members of organization</h1>
                <a class="btn btn-primary" href="#" role="button">Add a member</a>
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Username</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(user <- users) {
                                <tr id="row-user-@user.id" userId="@user.id">
                                    <td>@user.firstName</td>
                                    <td>@user.lastName</td>
                                    <td>@user.username</td>
                                    <td><a class="btn btn-danger" role="button" href="@routes.OrganizationController.deleteUser(organization.id.get,user.id.get)">Leave</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
