@(form: Form[models.OrganizationData], postUrl: Call)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Create an organization") {
<div class="row">
    <div class="col">
    <h1>Create an organization</h1>

    @* Display Global errors *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div class="alert alert-danger" role="alert">
                @error.message
            </div>
        }
    }

    @b4.vertical.formCSRF(postUrl) { implicit vfc =>

        @b4.text( form("organizationType"), '_label -> "Type")

        @b4.text( form("name"), '_label -> "Name")

        @b4.text( form("address"), '_label -> "Address")

        @b4.submit('class -> "btn btn-success"){ Create organization }
    }

    </div>
</div>
}