@(organization: Organization, users : Seq[User], events: Seq[Event])(implicit request: play.api.mvc.RequestHeader)

@main(organization.name) {

    <div id="event-detail" class="container">
        <div class="row">
            <div id="event-detail-cover" class="col">
                <div class="row">
                    <div class="col-md-12">
                        <h1>@organization.name</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row event-meta">
            <div class="col-md-3 col-sm-6">
                <div class="organization">@organization.organizationType</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="region">@organization.address</div>
            </div>
        </div>
        <div class="col-md-8 content">
            <div id="Events" class="row">
                <div class="info-section col-md-12">
                    <h1>Events of organization</h1>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <th>Region</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @for(event <- events) {
                            <tr id="row-user-@event.id" studentId="@event.id">
                                <td>@event.title</td>
                                <td class="text-right">
                                <td>@event.region</td>
                                <td class="text-right">
                                <td>@event.startDate</td>
                                <td class="text-right">
                                <td>@event.endDate</td>
                                <td class="text-right">
                                <td><a class="btn btn-secondary" role="button" href="@routes.EventController.eventDetail(event.id.get)">Show</a></td>
                                <td><a class="btn btn-danger" role="button" href="@routes.EventController.eventDelete(event.id.get)">Delete</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8 content">
            <div id="Members" class="row">
                <div class="info-section col-md-12">
                    <h1>Members of organization</h1>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Username</th>
                                <th></th>
                            </tr>
                            @for(user <- users) {
                                <tr id="row-user-@user.id" studentId="@user.id">
                                    <td>@user.firstName</td>
                                    <td class="text-right">
                                <td>@user.lastName</td>
                                    <td class="text-right">
                                <td>@user.username</td>
                                    <td class="text-right">
                                <td><a class="btn btn-danger" role="button" href="@routes.OrganizationController.deleteUser(organization.id.get,user.id.get)">Leave</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
