@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(user:User, organizations:Seq[Organization], themes: Seq[Theme])(implicit request: play.api.mvc.RequestHeader)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("L'Event en poupe !") {

    <div class="container">
        <div class="row">
            <div id="profile-cover" class="col">
                <h1>My profile</h1>
            </div>
        </div>
        <div id="profile-detail" class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 justify-content-md-center">
                        <div class="profile-picture"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 content">
                <div id="personnal-informations" class="row">
                    <div class="info-section col-md-12">
                        <h1>Personal informations</h1>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>@user.username</td>
                                </tr>
                                <tr>
                                    <td>First name</td>
                                    <td>@user.firstName</td>
                                </tr>
                                <tr>
                                    <td>Last name</td>
                                    <td>@user.lastName</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>@user.email</td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="@routes.UserController.profileUpdate" role="button">Modify</a>
                    </div>
                </div>

                <div id="organizations" class="row">
                    <div class="info-section col-md-12">
                        <h1>My organizations</h1>
                        <table class="table">
                            <tbody>
                                @for(organization <- organizations) {
                                    <tr id="row-organization" organizationId="@organization.id">
                                        <td>@organization.name</td>
                                        <td class="text-right"><a class="btn btn-secondary" href="@routes.OrganizationController.organizationDetail(organization.id.get)" role="button">Manage</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="@routes.OrganizationController.organizationNewPage()" role="button">Create an organization</a>
                    </div>
                </div>

                <div id="interests" class="row">
                    <div class="info-section col-md-12">
                        <h1>My interests</h1>
                        <table class="table">
                            <tbody>
                                @for(theme <- themes) {
                                    <tr>
                                        <td>@theme.name</td>
                                        <td class="text-right"><a class="btn btn-danger" href="@routes.InterestController.interestDelete(theme.id.get)" role="button">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a class="btn btn-primary" href="@routes.InterestController.interestNewPage" role="button">Add an interest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}